  {% extends "clienttemplate/base.html" %}

{% load static %}

{% block content %} 





  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_page">
           
            <ol class="breadcrumb">
              <li><a href="{% url 'newsapp:home' %}">Home</a></li>
              <li><a href="#">{{categoryobject}}</a></li>
           
            </ol>
            <h1>News under {{categoryobject}} Category</h1>
            <div class="post_commentbox"> 
              
               <a href="#"><i class="fa fa-tags"></i>{{categoryobject}}</a> </div>

            {% for news in categoryobject.news_set.all %}
<!-- <h4>{{news.title}}</h4> -->

<a href="{% url 'newsapp:newsdetail' news.id %}"><h3 style="color: blue">{{news.title}}</h3> </a>




            <div class="single_page_content"> <img class="img-center" src="{{news.image.url}}" alt="">
              
              <blockquote><i> {{news.content|truncatewords:"45"}}. </i></blockquote>
              <ul>
                <li>{{news.author}}</li>
<a href="{% url 'newsapp:newsdetail' news.id %}" class="btn btn-theme">View detail</a>
            
              
         
              </ul>
              
         
            </div>
{% endfor %}

        
          </div>

        </div>
      </div>
      
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>Other News</span></h2>
            <ul class="spost_nav">

              
   {% for news in allnews %}
          


              <li>
                <div class="media"> <a href="{% url 'newsapp:newsdetail' news.id %}" class="media-left"> <img alt="" src="{{news.image.url}}"> </a>
                  <div class="media-body"> <a href="{% url 'newsapp:newsdetail' news.id %}" class="catg_title"> {{news.title}}</a> </div>
                </div>
              </li>
       
            {% endfor %}
            </ul>
         
          </div>
          <div class="single_sidebar">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" ><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Category</a></li>
              <li role="presentation" class="active"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Comments</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane" id="category">
                  {% for category in allcategory %}

                <ul>
                  <li class="cat-item"><a href="{% url 'newsapp:categorydetail' category.id %}" class="btn btn-primary-outline">{{category.title}}</a></li>
                  
                </ul>

          {% endfor %}
              </div>
              
              <div role="tabpanel" class="tab-pane active" id="comments">
                <ul class="spost_nav">
                  <div class="fb-comments" data-href="http://127.0.0.1:8000/category/{{categoryobject.id}}/detail" data-numposts="5" data-width="100"></div>
                </ul>
              </div>
            </div>
          </div>
          
        </aside>
      </div>
    </div>
  </section>


  {% endblock %}