  {% extends "clienttemplate/base.html" %}

{% load static %}
{% block contact %}active{% endblock %}
{% block content %} 

  <section id="sliderSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="slick_slider">
         

           <div class="single_iteam"> <a href="#"> <img src="{{newsobject.image.url}}" alt=""></a>
               
            <div class="slider_article">
              <h2><a class="slider_tittle" href="#">{{newsobject.title}}</a></h2>
              <p>{{newsobject.content|truncatewords:"45"}}.</p>
            </div>
                 

          </div>
       

        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="latest_post">
          <h2><span>Latest post</span></h2>
          <div class="latest_post_container">
            <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
            <ul class="latest_postnav">
                 {% for news in allnews|slice:"5" %}
            {% if news != newsobject %}


                <li>
                <div class="media"> <a href="{% url 'newsapp:newsdetail' news.id %}" class="media-left"> <img alt="" src="{{news.image.url}}"> </a>
                  <div class="media-body"> <a href="{% url 'newsapp:newsdetail' news.id %}" class="catg_title"> {{news.title}}</a> </div>
                </div>
              </li>
              {% endif %}
            {% endfor %}
             
            </ul>
            <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
          </div>
        </div>
      </div>
    </div>
  </section>




  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_page">
            <ol class="breadcrumb">
              <li><a href="{% url 'newsapp:home' %}">Home</a></li>
              <li><a href="#">{{newsobject.category}}</a></li>
              <!-- <li class="active">{{newsobject.title}}</li> -->
            </ol>
            <h1>{{newsobject.title}}</h1>
            <div class="post_commentbox"> <i class="fa fa-user"></i> {{newsobject.author}}
             <span><i class="fa fa-calendar"></i>{{newsobject.date}}</span> <a href="#"><i class="fa fa-tags">
               
             </i>{{newsobject.category}}</a> </div>
            <div class="single_page_content"> <img class="img-center" src="{{newsobject.image.url}}" alt="">
              <p>{{newsobject.content}}.</p>
              <blockquote> {{newsobject.content2}}. </blockquote>
              
      
            </div>
            <div class="fb-like" data-href="http://127.0.0.1:8000/news/{{newsobject.id}}/newsdetail/" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
            
            <div class="related_post">
              <h2>Related Post <i class="fa fa-thumbs-o-up"></i></h2>
              <ul class="spost_nav wow fadeInDown animated">
       
 
    


  {% for news in newsobject.category.news_set.all %}
            {% if news != newsobject %}

                <li>
                  <div class="media"> <a class="media-left" href="{% url 'newsapp:newsdetail' news.id %}"> <img src="{{news.image.url}}" alt=""> </a>
                    <div class="media-body"> <a class="catg_title" href="{% url 'newsapp:newsdetail' news.id %}"> {{news.title}}</a> </div>
                  </div>
                </li>
                     {% endif %}
            {% if newsobject.category.news_set.count <= 1 %}
              <h4>No results found</h4>
            {% endif %}
          {% endfor %}

              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span><a href="{% url 'newsapp:nepalinews' %}"> Nepali News</span></h2></a>
            <ul class="spost_nav">


   {% for news in allarticles %}
          


              <li>
                <div class="media"> <a href="" class="media-left"> <img alt="" src="{{news.title_photo}}"> </a>
                  <div class="media-body"> <a href="" class="catg_title"> {{news.title}}</a> </div>
                </div>
              </li>
            {% endfor %}


            </ul>
          </div>
          <div class="single_sidebar">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#comment" aria-controls="profile" role="tab" data-toggle="tab">Comment</a></li>
              <li role="presentation" ><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Category</a></li>
              
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="comment">
                <div class="vide_area">
          
          
<div class="containeer">
<div class="row">
  <div class="fb-comments" data-href="http://127.0.0.1:8000/news/{{newsobject.id}}/newsdetail/" data-numposts="20" data-width="100"></div>
</div>  
</div>




    
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="category">
                {% for category in allcategory %}

                <ul>
                  <li class="cat-item"><a href="{% url 'newsapp:categorydetail' category.id %}" class="btn btn-primary-outline">{{category.title}}</a></li>
                  
                </ul>

          {% endfor %}
              </div>
            
              
            </div>
          </div>
        
        </aside>
      </div>
    </div>
  </section>





  {% endblock %}