
  {% extends "admintemplate/base.html" %}

{% load static %}

{% block content %} 

<h3>Subscriber List</h3>
<!--main content start-->
<section id="main-content">
	<section class=" wrapper">
		<div class="agile-grid">
          
		<h2 class="w3ls_head">Subscriber List</h2>
      
            <div class="row">

                <div class="col-lg-12">
                    <section class="panel">
                       
                       
                        <div>
      <table class="table" >
        <thead>
          <tr>
            <th data-breakpoints="xs">SN</th>
            <th>Email</th>
            <th>Action</th>

          </tr>
        </thead>
        <tbody>
        	{% for sub in allsub %}
          <tr data-expanded="true">
            <td>{{ forloop.counter }}</td>
            <td>{{sub.email}}</td>
            <td>
            	
            	<span><a href="{% url 'newsapp:subscriberdelete' sub.id %}">
            	<i class="fa fa-trash"></i></a></span>
            </td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
    </div>
                    </section>
                </div>
            </div>
            
		</div>
        </section>

</section>

<!--main content end-->
 {% endblock %}