


                                   


  {% extends "admintemplate/base.html" %}

{% load static %}

{% block content %} 

<section id="main-content">
	<section class=" wrapper">
		<div class="agile-grid">
          
		<h2 class="w3ls_head">Update Category</h2>
      
            <div class="row">
        <div class="col-lg-6">
                    <section class="panel">
                        <div class="panel-body" style="text-align: center">Add New News Category</div>
                        <form action="" method="post" enctype="multipart/form-data">
	 {% csrf_token %}


{{cat.title}}
<br/>
{{cat.image}}
<br/>
<button class="btn btn-primary" type="submit" value="submit">Add</button>
</form>
                    </section>
                </div>


               
		</div>
        </section>

</section>


 {% endblock %}